@charset "utf-8";
@font-face{
	font-family: "Kyobo";font-weight: 400;
	font-style: normal;
	src:url('../font/KyoboRegular.eot');
	src:url('../font/KyoboRegular.eot') format('embedded-opentype'),
		url('../font/KyoboRegular.woff') format('woff');
}
@font-face{
	font-family: "Kyobo";font-weight: 500;
	font-style: normal;
	src:url('../font/KyoboSemiBold.eot');
	src:url('../font/KyoboSemiBold.eot') format('embedded-opentype'),
		url('../font/KyoboSemiBold.woff') format('woff');
}
@font-face{
	font-family: "Kyobo";font-weight: 700;
	font-style: normal;
	src:url('../font/KyoboBold.eot'); 
	src:url('../font/KyoboBold.eot') format('embedded-opentype'),
		url('../font/KyoboBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'),
		 url('../font/Pretendard-Bold.woff2') format('woff2'),
		 url('../font/Pretendard-Bold.woff') format('woff'),
		 url('../font/Pretendard-Bold.otf') format('truetype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'),
	 	 url('../font/Pretendard-Medium.woff2') format('woff2'),
		 url('../font/Pretendard-Medium.woff') format('woff'),
		 url('../font/Pretendard-Medium.otf') format('truetype');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'),
		 url('../font/Pretendard-Regular.woff2') format('woff2'),
		 url('../font/Pretendard-Regular.woff') format('woff'),
		 url('../font/Pretendard-Regular.otf') format('truetype');
}



/* 
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), 
		 url('../font/Pretendard-Black.woff2') format('woff2'),
		 url('../font/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'),
		 url('../font/Pretendard-ExtraBold.woff2') format('woff2'),
		 url('../font/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'),
		 url('../font/Pretendard-SemiBold.woff2') format('woff2'),
		 url('../font/Pretendard-SemiBold.woff') format('woff');
} 

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'),
		 url('../font/Pretendard-Light.woff2') format('woff2'),
		 url('../font/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'),
		 url('../font/Pretendard-ExtraLight.woff2') format('woff2'),
		 url('../font/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'),
		 url('../font/Pretendard-Thin.woff2') format('woff2'),
		 url('../font/Pretendard-Thin.woff') format('woff');
}
*/
